services:
  simulation:
    build: 
      context: ./simulation
    container_name: bgr_sim
    network_mode: host
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_SOFTWARE=1   # שומרים על זה כדי למנוע קריסה
      - TURTLEBOT3_MODEL=waffle
      - ROS_DOMAIN_ID=30          # שומרים על ערוץ נפרד
      # מחקנו את ROS_LOCALHOST_ONLY שגרם לבעיות
      
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    
    # ננסה להוסיף השהייה קטנה בטעינה כדי לתת למנועים זמן לעלות
    command: ros2 launch turtlebot3_gazebo turtlebot3_world.launch.py

  logic:
    build: 
      context: ./logic
    container_name: bgr_logic
    network_mode: host
    environment:
      - PYTHONUNBUFFERED=1
      - ROS_DOMAIN_ID=30          # חייב להיות תואם לסימולציה!
      
    depends_on:
      - simulation
      
    command: bash -c "source /opt/ros/jazzy/setup.bash && python3 /app/drive_node.py"